body {
	/* max-width: 1600px; */
	/* max-width: device-width; */
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	background-color: #F5F5F5;
	color: #212121;
}
.link {
	text-decoration: none;
	color: inherit;
}
.list, 
.list li {
	list-style: none;
	padding-left: 0;
	display: inline-block;
}
.header,
.section,
.footer {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	height: 80px;
}
.header > * {
	display: inline-block;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #000;
	margin-right: 93px;
}
.logo span {
	color: #2196F3
}
.link:hover,
.link:focus {
	color: #2196F3;

}
.navbar li {
margin-right: 50px;
}
.contacts {
	margin-left: 18%;
	color: #757575;
}
.header-phone {
	margin-left: 50px;
}
.order-container {
	background-color: #2F303A;
}
.order {
	height: 600px;
	text-align: center;
	vertical-align: middle;
}
.order-title {
	display: none;
}
.order-text {
	width: 696px;
	height: 120px;
	margin: auto;
	padding-top: 200px;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-transform: uppercase;
	color: #FFF;
}
.btn {
	cursor: pointer;
}
.order-btn {
	margin-top: 30px;
	width: 216px;
	height: 50px;
	border-radius: 4px;
	background: #2196F3;
	color: #FFF;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
}
.features-title {
	display: none;
}
.features-item {
	width: 270px;
	vertical-align: top;
	margin-right: 30px;
	padding-top: 54px;
}
.features-item:last-child {
	margin-right: -30px;
}
.features-item-heading {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}
.features-item_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #757575;
}
.tasks-heading,
.team-heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}
.tasks-item {
	margin-right: 30px;
}
.tasks-item:last-child {
	margin-right: -30px;
}
.team-container {
	background-color: #F5F4FA;
}
.team-item {
	background: #FFFFFF;
	margin-right: 30px;
	text-align: center;
}
.team-item:last-child {
	margin-right: -30px;
}
.team-name {
	font-size: 16px;
	line-height: 19px;
}
.team-job {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #757575;
}
.footer-container {
	background-color: #2F303A;
}
.footer {
	height: 252px;
}
.footer-logo {
	color: #fff;
	padding-top: 60px;
}
.footer-address {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	font-style: normal;

}
.footer-link {
	color: rgba(255, 255, 255, 0.6);
}
.projects {
	background: #F5F5F5;
}
.projects-sort-list {
	text-align: center;
	width: 1170px;
}
.projects-sort-btn {
	/* width: 125px; */
	height: 38px;
	background: #F5F4FA;
	border-radius: 4px;
	border: 0;
	padding: 0 22px;
}
.projects-sort-btn:hover,
.projects-sort-btn:focus {
	background: #2196F3;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	color: #FFF;
}
.projects-sort-item {
	margin-right: 8px;
}
.projects-card-item {
	border: 1px solid #EEEEEE

}
.projects-card-item:nth-child(2),
.projects-card-item:nth-child(5),
.projects-card-item:nth-child(8) {
	margin-left: 22px;
	margin-right: 22px;
}
.projects-card-item:nth-child(4),
.projects-card-item:nth-child(5),
.projects-card-item:nth-child(6) {
	margin-top: 30px;
	margin-bottom: 30px;
}
.projects-card-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 36px;
	margin-left: 24px;
}
.projects-card-type {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #757575;
	margin-left: 24px;
}