:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --active-color: #404bbf;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid var(--cornflower-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.logo-part {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: var(--title-text-color);
  padding: 24px 0;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  display: block;
}

.address-link:hover,
.address-link:focus {
  color: var(--active-color);
}

.hero {
  background-color: var(--title-text-color);
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  background-color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-color);
}

.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.team {
  background-color: var(--cloud-color);
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

.team-item > h3 {
  margin-top: 32px;
}

.team-item > p {
  margin-bottom: 32px;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.portfolio-item > h3 {
  margin-top: 32px;
}

.portfolio-item > p {
  margin-bottom: 32px;
}

.page-footer {
  background-color: var(--title-text-color);
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.logo-part-light {
  color: var(--cloud-color);
}

.footer-text {
  color: var(--cloud-color);
  max-width: 264px;
}